/* CSS declarations go here */
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: white;
  background-attachment: fixed;
 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
 
  font-size: 14px;
}

a {
  text-decoration: none !important;
}
 
.container {
  display: flex;
  display: webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;

  margin: auto;
  height: 100%;
}

main {
  flex: 70%;
  -webkit-flex: 70%;
  height: 100%;
}

aside {
  flex: 30%;
  -webkit-flex: 30%;
  background: #1C2222;
  height: 100%;
  color:white;
}
 
header {
  padding: 20px 15px 15px 15px;
  position: relative;
  text-align: center;
}
 
#login-buttons {
  display: block;
}
 
h1 {
  font-size: 2em;
  margin: 0;
  margin-bottom: 10px;
  color: white;
  font-family: 'PT Sans Narrow';
  font-weight: bold;
  letter-spacing: 3px;
}

h2 {
  font-size: 1.7em;
  font-family: 'PT Sans Narrow';
  font-weight: normal;
  letter-spacing: 3px;
}

.list-header {
  padding: 0px 15px 15px 15px; 
}
 
form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.search-users {
  padding: 20px 15px 15px 15px;
}

.search-users input {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #3B8686;
  border-radius: 0;
  height: 40px;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

aside li {
  width: 100%;
  padding: 20px;
  cursor: pointer;
  color: white;
}

.active-room {
  background: #3B8686;
}

/* BOARD */
.game {
  height: 100%;
}

.game-header {
  background: #3B8686;
  width: 70%;
  height: 50px;
  position: absolute;
}

.game-header h2 {
  margin-top: 0;
  text-align: center;
  color: white;
}

.game-body {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  height: 100%;
}

.set {
  padding-top: 20px;
  overflow: hidden;
}

.rows {
  overflow: hidden;
}

.row {
  width: 100%;
  clear: both;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  border-bottom: 1px solid #B9B9B9;
}

.pins {
  float: left;
  margin-top: 2px;
  padding-right: 10px;
  border-right: 1px solid #B9B9B9;
}

.dots {
  float: left;
  margin-left: 20px;
}

.pin {
  width:30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  float: left;
  margin: 4px;
}

.dot {
  width:13px;
  height: 13px;
  border-radius: 50%;
  display: block;
  float: left;
  margin: 3px;
}

.empty-dot {
  border: 1px solid #4E4E4E;
}

.dots-review {
  background: #D8D8D7;
  padding: 5px;
  margin-left: 16px;
}

.red {
  background: #E04937;
}

.blue {
  background: #3082C4;
}

.green {
  background: #00A784;
}

.yellow {
  background: #F6DA64;
}

.purple {
  background: #9265AA;
}

.orange {
  background: #F9A027;
}

.black {
  background: black;
}

.white {
  background: white;
  border: 1px solid #4E4E4E;
}

.nothing {

}

.board {
  flex: 50%;
  -webkit-flex: 50%;
  height: 100%;
  padding-top: 50px;
}

.inner-board {
  width: 270px;
  margin: 0 auto;
  padding: 20px;
}

.master-helper,
.mind-helper {
  flex: 50%;
  -webkit-flex: 50%;
  height: 100%;
  padding-top: 50px;
  background: #D8D8D7;
}

.selection {
  overflow: hidden;
}

.selected {
  width: 40px;
  height: 40px;
  display: block;
  border: 1px solid black;
  margin-top: 10px;
}

.submit-mind,
.submit-master {
  clear: both;
  display: block;
}